.section_mensage{
    width: 100%;
    height: 80vh;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    overflow: scroll;
}

.mensage{
    width: 90%;
    border-radius: 1rem;
    border: 1px solid #000;
    padding: 0rem 0.5rem;
    box-sizing: border-box;
}

.content{
    font-size: 1rem;
}

.author{
    font-size: 0.8rem;
    text-align: right;
}

.accept{
    background-color: green;
    color: white;
}

.error{
    background-color: red;
    color: white;
}

.section_input{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.section_input input{
    width: 90%;
    padding: 0.5rem;
}


.section_input button{
    width: 10%;
}